h1{
    margin-bottom: 0;
}

h3{
    margin-top: 0;
}

.cw-header{
    background-color: white;
    padding-bottom: 1rem;
}

.cw-header h1{
    cursor: pointer;
}

.cw-header-btn-group{
    padding-left: 15px;
    padding-right: 15px;
}

.cw-header-btn-group .dropdown-menu{
    min-width: unset;
}

.cw-header-left{
    min-height: 125px;
}

.cw-header-right{
    background-position: right top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto 250px;
    background-color: rgba(255, 255, 255, 0.5);
    border-bottom-left-radius: 100% 100%;
}

.cw-header-titles{
    padding: 1rem;
}

.cw-header-footer{
    visibility: hidden; /* TODO CH REMOVE WHEN HEADER IS BEING FIXED */
    margin-top: 10px;
}

.cw-header-image{
    max-height: 120px;
}