.cw-menu{
    padding: 15px;
    padding-bottom: 0;
}

.container-no-space-left{
    padding-left: 0;
}

.content-paragraph{
    margin-bottom: 3rem;
    padding-left: 0;
}

.img-moldova-map{
    min-height: 15rem;
    max-height: 15rem;
}

.bg-primary{
    background-color: #D22630!important;
}

.text-muted{
    color: white !important;
    font-style: italic;
}

.cw-infobar .card{
    margin-bottom: 1rem;
}

.cw-infobar .card a{
    color: white;
    text-decoration: underline;
}

.cw-infobar .card a:hover{
    color: black;
}

.cw-infobar .card-header{
    background-color: unset;
    border-bottom: none;
    font-size: 2rem;
    color: white;
    font-family: "Roboto Slab","Lato",Arial,Helvetica,sans-serif;
    padding: 15px;
    padding-bottom: 0;
}

.cw-infobar .card-body{
    color: white;
    padding: 0;
    padding-bottom: 1.25rem;
}

.cw-donate-btn{
    color: black !important;
    font-size: 1.3rem;
    font-family: "Lato",Arial,Helvetica,sans-serif;
    font-weight: bold;
    margin-top: 1rem;
    text-decoration: none !important;
}

.cw-newsletterblock-form{
    margin-top: 1rem;
}

.cw-archive-container{
    margin-top: 1rem;
}

.cw-image-head{
    float: left;
    height: 150px;
    margin: 15px 15px 0 0;
}