@import url('https://fonts.googleapis.com/css?family=Lato|Roboto+Slab&display=swap');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css');

body {
  margin: 0;
  font-family:  "Lato",Arial,Helvetica,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #707173;
  min-width: 360px;
}

h1,h2,h3,h4,h5,h6{
  font-family: "Roboto Slab","Lato",Arial,Helvetica,sans-serif;
}

h1,h2{
  color: #D22630;
}

h3{
  color: #707173;
}

h4{
  color: #707173;
  font-weight: normal;
}

h6{
  color: #707173;
  font-weight: normal;
}

a{
  color: #D22630;
  text-decoration: none;
}

a:hover{
  color: black;
  text-decoration: none;
}